{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>


    <div>
        1) clicking the link needs to append the id number to the url.<br>
        2) use the url as a means for other webpages to grab the id and pull the information.<br>
        <br>
    </div>

    
    <div>
        {% for listing in listings %}
        <br>
        <div class="w3-card-4 center" style="width: 100%; min-width: 350px; max-width: 500px;">
            <div>
                <h2>{{ listing.title }}</h2>
                <a href="{% url 'listing' listing_id=listing.id %}">
                    Click here to expand the listing.
                </a>
                <br>
                Listing ID Number: {{ listing.id }}
                <br>
                Category: {{ listing.category }}
                <br>
                Starting Bid: {{ listing.starting_bid }}
                <br>
                Current Price: {{ listing.current_price }}
                <br>
                Description: {{ listing.description }}
                <br>
                <a href="{% url 'listing' listing_id=listing.id %}">
                    <img src="{{ listing.imageURL }}" alt="imgURL" style="max-width:500px">
                </a>
                <br>
                this listing was created on {{ listing.created }}
            </div>
        </div>
        <br>
        {% endfor %}
    </div>

{% endblock %}