{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing</h2>
    
    <div>
        <h3>Title: {{ listing.title }}</h3>
        
        <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}

            <input type="hidden" name="addToWatchlist">
            <input class="btn btn-primary" type="submit" value="Add to watchlist">
        </form>
        <br>
        Listing ID Number: {{ listing.id }}
        <br>
        Category: {{ listing.category }}
        <br>
        Description: {{ listing.description }}
        <br>
        Starting Bid: ${{ listing.starting_bid }}
        <br>
        Current Price: ${{ listing.current_price }}
        <br>
        Current Highest Bidder: {{ listing.current_winner }}
        <br>
        Owner: {{ listing.creator }}
    <br>
    <div>
        <br>
        <img src="{{ listing.imageURL }}" atl="imgURL" style="max-width:500px">
    </div>
    <br>

    This auction is currently:
    {% if listing.listingClosed == True %}
        CLOSED
        <br>
        The winning bidder is: <b>{{ listing.current_winner }}</b>
        <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="open_listing">
            <input class="btn btn-primary" type="submit" value="Activate Auction">
        </form>        
    {% else %}
        ACTIVE
        <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="close_listing">
            <input class="btn btn-primary" type="submit" value="Close Auction">
        </form>      
    {% endif %}

    <br><br>

    if user is signed in, allow bidding on item.
    <br>

    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        <input type="number" placeholder="Enter Bid" name=placeBid min="{{ listing.current_price|add:1 }}">
        <br><br>
        <input class="btn btn-primary" type="submit" value="Place Bid">
    </form>


    <br>
    {% if bid_history %}
    <table class="table">
        <thead>
            <th>Listing ID</th>
            <th>Bid Amount</th>
            <th>Bidder</th>
            <th>Bidding Time</th>
        </thead>
        <tbody>
            {% for bid_entry in bid_history %}
            <tr>
                    <td>{{ bid_entry.listingId }}</td>
                    <td>${{ bid_entry.bidAmt }}</td>
                    <td>{{ bid_entry.bidUser }}</td>
                    <td>{{ bid_entry.biddingDate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    {% endif %}


    
    Add comments
    <br><br>

    <form action="{% url 'listing' listing.id %}" method="POST">
        {% csrf_token %}
        <textarea name="submitComment" placeholder="Enter Comments here."></textarea>
        <br><br>
        <input class="btn btn-primary" type="submit" value="Post Comment">
    </form>
    <br><br>



    <h3>COMMENT HISTORY</h3>
    <table class="table">
        <thead>
            <th>Comment</th>
            <th>User</th>
            <th>Datetime</th>
        </thead>
        <tbody>
                {% for comment in comment_history %}
                <tr>
                    <td>{{ comment.commentBody }}</td>
                    <td>{{ comment.commentUser }}</td>
                    <td>{{ comment.commentDate }}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
    <br><br>

{% endblock %}